.about-container {
    margin-top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-intro {
    font-family: 'Merriweather', serif;
    align-items: justify;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

.about-details {
    font-size: calc(0.75rem + 0.5vw);
    margin-bottom: 3vh;
    text-align: justify;
    text-justify: inter-word;
}

/* .about-quote {
    font-size: calc(0.5rem + 0.5vw);
    font-style: italic;

    margin-top: 4vh;
    margin-bottom: 4vh;

    text-align: right;
} */