/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather&family=Noto+Serif:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Merriweather&family=Noto+Serif:ital@1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300'); */

 /* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,400;1,900&display=swap'); */

 /* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,400;1,900&display=swap'); */

.home-container {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;

    object-fit: cover;
    object-position: center top;

    margin-bottom: 2vh;
}

.home-intro {
    /* font-family: 'Merriweather', serif; */
    color: #444444;
    text-align: center;
    margin-bottom: 2vh;
}

.home-name {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1rem + 1vh);
    margin-bottom: 1vh;
}

.home-university {
    font-size: calc(0.8rem + 1vh);
    margin-bottom: 1vh;
}

.home-address {
    font-size: calc(0.6rem + 0.9vh);
    margin-bottom: 1vh;
}

.home-icons-wrapper li {
    padding: 0.25vw;
    display: inline;
    margin-bottom: 1vh;
}

.home-icons-wrapper .home-icons {
    fill: #888888;
    height: calc(1rem + 0.75vw);
    width: calc(1rem + 0.75vw);
}

.home-icons-wrapper .home-icons:hover {
    fill: #333333;
}

.home-icons-wrapper .linkedin:hover {
    fill: #0075B5;
}

.home-icons-wrapper .github:hover {
    fill: #24292F;
}

.home-icons-wrapper .instagram:hover {
    fill: #FB3958;
}

.home-icons-wrapper .email:hover {
    fill: #D44638;
}